__pycache__
.DS_Store
.coverage
build/
dist/
gitfourchette.egg-info/

# Automatically-generated wrappers for python helper scripts in unit tests
test/data/windows_wrappers.tmp/

# PyCharm
/.idea/*
!/.idea/icon.svg
!/.idea/modules.xml
!/.idea/runConfigurations/

venv/
.venv/